#banner {
	border: 5px solid #008000;
	text-align: center;
}
#beskrivelse {
}

#liste {
}

/* Navbar css start */
#nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	text-align: center;
}

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	top: 0;
	width: 100%;
}

.nav-list-elem {
	float: left;
}

.nav-list-elem a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Gjør link svart når du holder over*/
.nav-list-elem a:hover {
	background-color: #111;
}
/* forsøke å lage en grønn farge på den siden en er på */
.nav-list-elem .active {
	background-color: #04aa6d;
}
/* Navbar css slutt */
