body {
	background-color: rgb(145, 145, 145);
	font-family: "Noto Sans", sans-serif;
}

#page-content {
	display: flex;
	justify-content: space-evenly;
}

#beskrivelse {
}

#liste {
}

/* liste i tjenester.html start */
.visningsrute {
	margin-top: 2em;
	background-color: rgb(41, 90, 74);
	width: 50%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	outline: 0.2em solid black;
}

.visningsrute > h3 {
	background-color: rgb(128, 229, 179);
	padding: 0em 1em;
	margin: 0;
	line-height: 2em;
	text-align: center;
}

.tjeneste-liste {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	outline: 0.1em solid black;
}

.tjeneste-liste > li {
	flex-grow: 1;
	background-color: #444;
	outline: 0.1em solid black;
}
.tjeneste-liste > li > a {
	color: #008000;
	text-decoration: none;
}
.tjeneste-liste > li:hover {
	background-color: #222;
}

.tjeneste-liste > li > a > h4 {
	background-color: inherit;
	text-align: center;
}

.tjeneste-innhold {
	display: flex;
	flex-direction: column;
}

/* liste i tjenester.html slutt */

/* Header start */
#banner {
	border: 0.5em solid #008000;
	text-align: center;
}
#banner > h1 {
	font-size: 6em;
	padding: 0;
	margin: 0;
}

#banner > p {
	padding: 0;
	margin: 0;
	padding-bottom: 1em;
}
/* Header slutt */

/* Footer start */
#page-footer {
}
/* Footer slutt */

/* Navbar css start */
#nav-bar {
	margin: 0;
	padding: 0;
	display: inline;
}

.nav-list {
	list-style-type: none;
	margin: inherit;
	padding: inherit;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	top: 0;
	width: 100%;
}
/* navliste element */
.nav-list > li {
	float: left;
	background-color: inherit;
}
/* link i navliste */
.nav-list > li > a {
	display: block;
	color: white;
	text-align: center;
	padding: 1em 1.2em;
	text-decoration: none;
	background-color: inherit;
	border: 0.3em solid #333;
}

/* Gjør link svart når du holder over*/
.nav-list > li > a:hover {
	background-color: #222;
	border: 0.3em solid #008000;
}
/* forsøke å lage en grønn farge på den siden en er på */
.nav-list > li > .active {
	background-color: #008000;
}
/* Navbar css slutt */
