body {
	background-color: rgb(145, 145, 145);
	font-family: "Noto Sans", sans-serif;
}

#beskrivelse {
	width: 50%;
	float: left;
}

#liste {
	width: 50%;
	float: left;
}

.tjeneste-liste {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.tjeneste-liste > li {
	width: 30%;
	float: left;
	padding: auto;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	outline: 0.1em solid black;
	background-color: #444;
}
.tjeneste-liste > li > a {
	color: #008000;
	text-decoration: none;
}
.tjeneste-liste > li > a:hover {
	background-color: #222;
}

.tjeneste-liste > li > a > h4 {
	background-color: inherit;
	display: block;
	text-align: center;
	padding: 0.1em;
	margin: 0.1em;
}

#tjeneste-display {
	float: right;
	width: 50%;
}

.visningsrute {
	background-color: rgb(41, 90, 74);
	margin-top: 1em;
	padding: 1em;
}

/* Header start */
#banner {
	border: 0.5em solid #008000;
	text-align: center;
}
#banner > h1 {
	font-size: 6em;
	padding: 0;
	margin: 0;
}

#banner > p {
	padding: 0;
	margin: 0;
	padding-bottom: 1em;
}
/* Header slutt */

/* Navbar css start */
#nav-bar {
	margin: 0;
	padding: 0;
	display: inline;
}

.nav-list {
	list-style-type: none;
	margin: inherit;
	padding: inherit;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	top: 0;
	width: 100%;
}
/* navliste element */
.nav-list > li {
	float: left;
	background-color: inherit;
}
/* link i navliste */
.nav-list > li > a {
	display: block;
	color: white;
	text-align: center;
	padding: 1em 1.2em;
	text-decoration: none;
	background-color: inherit;
	border: 0.3em solid #333;
}

/* Gjør link svart når du holder over*/
.nav-list > li > a:hover {
	background-color: #222;
	border: 0.3em solid #008000;
}
/* forsøke å lage en grønn farge på den siden en er på */
.nav-list > li > .active {
	background-color: #008000;
}
/* Navbar css slutt */
